/*Designed by JJ.Ying
http://IconMoon.com
Apr. 2013*/
@charset "utf-8";

*{
    margin:0;
    padding:0;
    border:0;
    font-size: 100%;
    vertical-align: baseline;
    outline:none;
}
@font-face {
    font-family: 'iconfont';  /* project id 211471 */
    src: url('//at.alicdn.com/t/font_rc01fk4prc545cdi.eot');
    src: url('//at.alicdn.com/t/font_rc01fk4prc545cdi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_rc01fk4prc545cdi.woff') format('woff'),
    url('//at.alicdn.com/t/font_rc01fk4prc545cdi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_rc01fk4prc545cdi.svg#iconfont') format('svg');
}
.pc-icon{
    font-family: iconfont!important;
    font-size: 100px;
}
html,body{
    font-family: "Corbel",'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;
    width:100%;
    height:100%;
    user-select: none;
}
i{
    font-style: normal;
}
/*Common*/
a{
    color: #ffd543;
    text-decoration: none;
}
#home{
    display: inline-block;
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 0;
}
#home:hover a{
    color: silver;
}
.bottom{
    position: absolute;
    bottom: 0;
}
.top{
    position: absolute;
    top: 0;
}
.center{
    position:absolute;
    top:50%;
    left:50%;
    z-index:1;
}
.gap{
    background: #0c0c0c;
    display: block;
    height: 300px;
    width: 100%;
}
.button{
    display:block;
    width:60px;
    height:60px;
    position:absolute;
    bottom:40px;
    left:50%;
    margin-left:-30px;
    opacity: 0.75;
    background:url(../img/arrow.png);
    -webkit-transition: all .2s ease-in 0s;
    z-index: 9999;
    -webkit-transform: scale(0.8);
}
.button:hover{
    opacity: 1;
    -webkit-transform: scale(1);
    cursor:pointer;
}
.dark-button{
    background-position: 0 -60px;
}
.button-2-top{
    background-position: -60px 0;
    top: 30px;
    width: 80px;
    height: 80px;
    margin-left: -40px;
}
/*Animations - Webkit*/
@-webkit-keyframes fade-in
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes l-in
{
    0%   {opacity: 0;-webkit-transform: translate(-50px,0px);}
    100% {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes r-in
{
    0%   {opacity: 0;-webkit-transform: translate(50px,0px);}
    100% {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes top-in
{
    0%   {opacity: 0;-webkit-transform: translate(0px,-50px);}
    100% {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes rotate
{
    0%   {-webkit-transform: rotate(0deg);opacity: 1;}
    100%   {-webkit-transform: rotate(360deg);opacity:1;}
}
@-webkit-keyframes blur-in {
    0%{opacity:0;-webkit-filter:blur(25px);}
    100%{opacity:1;-webkit-filter:blur(0px);}
}
/*Animations - FF*/
@-moz-keyframes fade-in
{
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes l-in
{
    0%   {opacity: 0;-moz-transform: translate(-50px,0px);}
    100% {opacity: 1;-moz-transform: translate(0px,0px);}
}
@-moz-keyframes r-in
{
    0%   {opacity: 0;-moz-transform: translate(50px,0px);}
    100% {opacity: 1;-moz-transform: translate(0px,0px);}
}
@-moz-keyframes top-in
{
    0%   {opacity: 0;-moz-transform: translate(0px,-50px);}
    100% {opacity: 1;-moz-transform: translate(0px,0px);}
}
@-moz-keyframes rotate
{
    0%   {-moz-transform: rotate(0deg);opacity: 1;}
    100%   {-moz-transform: rotate(360deg);opacity:1;}
}

.slide{
    background-attachment: fixed;
    width:100%;
    height:100%;
    position: relative;
    box-shadow:inset 0px 5px 20px rgba(0,0,0,0.2);
}
.wrapper{
    width:960px;
    height:200px;
    margin:0 auto;
    position:relative;
}
.slideno{
    position:absolute;
    bottom:0px;
    left:0px;
    font-size:100px;
    font-weight:bold;
    color:rgba(255,255,255,0.3);
}
/* Slide 1 */
@-webkit-keyframes first-down-btn
{
    50% {-webkit-transform: scale(0.8);}
    60% {-webkit-transform: scale(0.95);}
    65% {-webkit-transform: scale(0.61);}
    70% {-webkit-transform: scale(0.8);}
    100% {-webkit-transform: scale(0.8);}
}
@-moz-keyframes first-down-btn
{
    0% {-moz-transform: scale(0.8);}
    50% {-moz-transform: scale(0.8);}
    60% {-moz-transform: scale(0.95);}
    65% {-moz-transform: scale(0.61);}
    70% {-moz-transform: scale(0.8);}
    100% {-moz-transform: scale(0.8);}
}
@-webkit-keyframes name-in
{
    0%   {opacity: 0;-webkit-transform:translate(0px,-50px);}
    100% {opacity: 1;-webkit-transform:translate(0px,0px);}
}
@-moz-keyframes name-in
{
    0%   {opacity: 0;-moz-transform:translate(0px,-50px);}
    100% {opacity: 1;-moz-transform:translate(0px,0px);}
}
#slide1{
    background: url(../img/bg1.jpg);
    background-size: cover;
}
#slide1 .button{
    -webkit-animation: first-down-btn 2.7s ease-in-out 0s infinite;
    -moz-animation: first-down-btn 2.7s ease-in-out 0s infinite;
}
#slide1 .button:hover{
    -webkit-animation: none;
    -moz-animation: none;
}
.jjying1{
    width:300px;
    margin-top:-170px;
    margin-left:-150px;
    opacity: 0;
    line-height: 100px;
    text-align: center;
    font-family: "SimHei";
    font-size: 100px;
    color: white;
    height: 100px;
    -webkit-animation:name-in 0.7s ease-out 0.2s 1 forwards;
    -moz-animation:name-in 0.7s ease-out 0.2s 1 forwards;
}
.jjying2{
    width:335px;
    opacity: 0;
    margin-top:-30px;
    margin-left:-167px;
    -webkit-animation:name-in 0.7s ease-out 1.3s 1 forwards;
    -moz-animation:name-in 0.7s ease-out 1.3s 1 forwards;
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 80px;
    color: white;
}
/* Slide 2  -Bio */
#slide2{
    background: #eeeeee url(../img/bg-tile.png);
    box-shadow:inset 0px -15px 30px rgba(0,0,0,0.15);
    overflow: hidden;
}
#slide2 p{
    font-size: 40px;
}
.bio-text{
    margin-left:-149px;
    opacity: 0;
}
.bio-text-1{
   display: inline-block;
    margin-top:-250px;
    -webkit-animation:bio-text-in .3s ease-out 0.6s 1 forwards;
    -moz-animation:bio-text-in .3s ease-out 0.6s 1 forwards;
}
.bio-text-2{
    display: inline-block;
    margin-top:-110px;
    -webkit-animation:bio-text-in .3s ease-out .9s 1 forwards;
    -moz-animation:bio-text-in .3s ease-out .9s 1 forwards;
}
.bio-text-3{
    margin-top:30px;
    display: inline-block;
    -webkit-animation:bio-text-in .3s ease-out 1.2s 1 forwards;
    -moz-animation:bio-text-in .3s ease-out 1.2s 1 forwards;
}
.bio-text-4{
    margin-top:170px;
    display: inline-block;
    -webkit-animation:bio-text-in .3s ease-out 1.5s 1 forwards;
    -moz-animation:bio-text-in .3s ease-out 1.5s 1 forwards;
}
@-webkit-keyframes bio-text-in{
    0% {-webkit-transform:translate(649px,0);opacity:0;}
    100% {-webkit-transform:translate(0,0);opacity:1;}
}
@-webkit-keyframes bio-icon-in2 {
    0% {margin-left:-300px;opacity:0;-webkit-transform: rotate(-60deg);}
    100% {margin-left:-269px;opacity:1;-webkit-transform: rotate(0deg);}
}
@-moz-keyframes bio-text-in {
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes bio-icon-in2 {
    0% {opacity:0;}
    100% {opacity:1;}
}
.bio-icon{
    width: 100px;
    margin-left: -269px;
    opacity: 0;
}
.bio-icon-1{
    margin-top:-265px;
    -webkit-animation:bio-icon-in2 .6s ease-out .7s 1 forwards;
    -moz-animation:bio-icon-in2 .6s ease-out .7s 1 forwards;
}
.bio-icon-2{
    margin-top:-141px;
    -webkit-animation:bio-icon-in2 .6s ease-out 1s 1 forwards;
    -moz-animation:bio-icon-in2 .6s ease-out 1s 1 forwards;
}
.bio-icon-3{
    margin-top:9px;
    -webkit-animation:bio-icon-in2 .6s ease-out 1.3s 1 forwards;
    -moz-animation:bio-icon-in2 .6s ease-out 1.3s 1 forwards;
}
.bio-icon-4{
    margin-top:149px;
    -webkit-animation:bio-icon-in2 .6s ease-out 1.6s 1 forwards;
    -moz-animation:bio-icon-in2 .6s ease-out 1.6s 1 forwards;
}
/* Slide 3 - Baidu */
#gap-2-3{
    height: 300px;
    background: #fff;
}
#slide3{
    background: #fff url(../img/bg10.jpg) no-repeat  ;
    box-shadow: none;
    line-height: 100%;
    text-align: center;
}
#slide3 ul{
    display: inline-block;
    width: 62%;
    margin-top: 150px;
}
#slide3 li{
    height: 40px;
    list-style: none;
    margin-bottom: 20px;
    width: 400px;
    line-height: 40px;
    text-align: left;
    font-weight: 600;
    padding-left: 10px;
    color: white;
    font-size: 20px;
}
#slide3 li:nth-of-type(1){
    width: 100%;
    color:#3498db ;
    background: lightblue;
    border-left: 5px solid #3498db;
}
#slide3 li:nth-of-type(2){
    width: 80%;
    color:#3498db ;
    background: lightblue;
    border-left: 5px solid #3498db;
}
#slide3 li:nth-of-type(3){
    width: 60%;
    background: #FFFFCC ;
    color: #FFCCCC;
    border-left: 5px solid #FFCCCC  ;
}
#slide3 li:nth-of-type(4){
    width: 50%;
    background:#FFFFCC ;
    color: #FFCCCC;
    border-left: 5px solid #FFCCCC  ;
}
#slide3 li:nth-of-type(5){
    width: 45%;
    background:#DDDDDD  ;
    color:#BBBBBB ;
    border-left: 5px solid #BBBBBB   ;
}
#slide3 li:nth-of-type(6){
    width: 65%;
    color:#fdbc40 ;
    background:#fff6dd ;
    border-left: 5px solid #fdbc40  ;
}
.baidu-text{
    width:539px;
    margin-top:-280px;
    margin-left:130px;
    opacity: 0;
    font-size: 40px;
    -webkit-animation: fade-in 0.7s ease-out 0.2s 1 forwards;
    -moz-animation: fade-in 0.7s ease-out 0.2s 1 forwards;
}
.baidu-mac{
    width:458px;
    margin-top:170px;
    margin-left:170px;
    opacity: 0;
    -webkit-animation: fade-in 0.7s ease-out 0.2s 1 forwards;
    -moz-animation: fade-in 0.7s ease-out 0.2s 1 forwards;
}
.baidu-mac-2{
    -webkit-animation: blur-in 0.7s ease-out 1.2s 1 forwards;
    -moz-animation: blur-in 0.7s ease-out 1.2s 1 forwards;
}

/* HP */
#gap-3-4{
    background: #0c0c0c url(../img/bg7.gif) no-repeat;
    background-size: 100% 100%;
    height: 500px;
}
@-webkit-keyframes printer-in
{
    0% {opacity: 0;}
    100%   {opacity: 1;}
}
@-moz-keyframes printer-in
{
    0% {opacity: 0;}
    100%   {opacity: 1;}
}
#slide4{
    background: #0c0c0c url(../img/hp-bg.png) repeat-x bottom center !important;
    position: relative;
    overflow: hidden;
}
#printer{
    width: 100%;
    height: 261px;
    opacity: 0;
    display: block;
    -webkit-animation: blur-in .6s ease-out .5s 1 forwards;
    -moz-animation: fade-in 1s ease-out .5s 1 forwards;
}
@-webkit-keyframes hp-ui-in-l
{
    0% {opacity: 0;-webkit-transform: translate(150px,-30px);}
    100%   {opacity: 0.75;-webkit-transform: translate(0,0);}
}
@-webkit-keyframes hp-ui-in-l-2
{
    0% {opacity: 0;-webkit-transform: translate(300px,-60px);}
    100%   {opacity: 0.75;-webkit-transform: translate(0,0);}
}
@-webkit-keyframes hp-ui-in-r
{
    0% {opacity: 0;-webkit-transform: translate(-150px,-30px);}
    100%   {opacity: 0.75;-webkit-transform: translate(0,0);}
}
@-webkit-keyframes hp-ui-in-r-2
{
    0% {opacity: 0;-webkit-transform: translate(-300px,-60px);}
    100%   {opacity: 0.75;-webkit-transform: translate(0,0);}
}
@-moz-keyframes hp-ui-in-l
{
    0% {opacity: 0;-moz-transform: translate(150px,-30px);}
    100%   {opacity: 0.75;-moz-transform: translate(0,0);}
}
@-moz-keyframes hp-ui-in-l-2
{
    0% {opacity: 0;-moz-transform: translate(300px,-60px);}
    100%   {opacity: 0.75;-moz-transform: translate(0,0);}
}
@-moz-keyframes hp-ui-in-r
{
    0% {opacity: 0;-moz-transform: translate(-150px,-30px);}
    100%   {opacity: 0.75;-moz-transform: translate(0,0);}
}
@-moz-keyframes hp-ui-in-r-2
{
    0% {opacity: 0;-moz-transform: translate(-300px,-60px);}
    100%   {opacity: 0.75;-moz-transform: translate(0,0);}
}
.hp-ui{
    opacity: 0;
}
.hp-ui-1{
    width: 240px;
    margin-left: -120px;
    margin-top: -130px;
    -webkit-animation: fade-in .6s ease-out 1.1s 1 forwards;
    -moz-animation: fade-in .6s ease-out 1.1s 1 forwards;
}
.hp-ui-2{
    width: 240px;
    margin-left: -334px;
    margin-top: -110px;
    -webkit-animation: hp-ui-in-l .3s ease-out 1.3s 1 forwards;
    -moz-animation: hp-ui-in-l .3s ease-out 1.3s 1 forwards;
}
.hp-ui-3{
    width: 240px;
    margin-left: 70px;
    margin-top: -110px;
    -webkit-animation: hp-ui-in-r .3s ease-out 1.3s 1 forwards;
    -moz-animation: hp-ui-in-r .3s ease-out 1.3s 1 forwards;
}
.hp-ui-4{
    width: 304px;
    margin-left: -541px;
    margin-top: -75px;
    -webkit-animation: hp-ui-in-l-2 .6s ease-out 1.3s 1 forwards;
    -moz-animation: hp-ui-in-l-2 .6s ease-out 1.3s 1 forwards;
}
.hp-ui-5{
    width: 280px;
    margin-left: 227px;
    margin-top: -75px;
    -webkit-animation: hp-ui-in-r-2 .6s ease-out 1.3s 1 forwards;
    -moz-animation: hp-ui-in-r-2 .6s ease-out 1.3s 1 forwards;
}
.hp-text{
    width: 504px;
    opacity: 0;
    margin-left: -252px;
    margin-top: -270px;
    -webkit-animation: top-in .3s ease-out 0.3s 1 forwards;
    -moz-animation: top-in .3s ease-out 0.3s 1 forwards;
    color: white;
    font-size: 50px;
    text-align: center;
}
/* Personal */
#gap-4-5{
    background: #fff url(../img/bg6.gif) repeat-x;
    height: 38px;
}
#personal{
    background: #000;
    box-shadow: none;
}
.dribbble-shots{
    width: 960px;
    height: 360px;
    margin-left: -480px;
    margin-top: -150px;
    box-shadow: 0px 13px 25px #000;
}
.dribbble-single{
    width: 240px;
    height: 180px;
    overflow: hidden;
    float: left;
    position: relative;
}
.dribbble-single img{
    width: 240px;
    height: 180px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
}
.dribbble-desc{
    background: #000;
    display: block;
    width: 200px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding: 10px 20px;
    color: #fff;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    text-align: center;
    font-size: 17px;
}
.dribbble-single:hover  .dribbble-desc{
    opacity: 0.9;
}
.personal-text{
    width: 902px;
    margin-left: -451px;
    margin-top: -280px;
    opacity: 0.9;
}
/*  Photography */
#gap-5-6{
    height:100px;
    background: #000;
}
#slide6{
    background: #fff url(../img/bg8.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow:inset 0px -20px 50px rgba(0,0,0,0.5);
}
#slide6 a img{
    width: 100px;
}
.travel-mask{
    width: 100%;
    height: 261px;
    display: block;
    background: url(../img/travel-mask.png);
}
.travel-map{
    width: 982px;
    margin-left: -491px;
    margin-top: -322px;
}
@-webkit-keyframes travel-plane {
    0%{margin-left: -600px;opacity:0}
    10%{opacity:0.9;}
    90%{opacity:0.9;}
    100%{margin-left: 600px;opacity:0}
}
@-moz-keyframes travel-plane {
    0%{margin-left: -600px;opacity:0}
    10%{opacity:0.9;}
    90%{opacity:0.9;}
    100%{margin-left: 600px;opacity:0}
}
.travel-plane{
    margin-left: -1200px;
    margin-top: 10px;
    -webkit-animation: travel-plane 25s linear 0.2s infinite backwards;
    -moz-animation: travel-plane 25s linear 0.2s infinite backwards;
}
.travel-arrow{
    opacity: 0;
}
@-webkit-keyframes travel-arrow-in-1 {
    0%{opacity: 0;	margin-left: -600px;margin-top: -28px;}
    100%{opacity: 1;margin-left: -549px;margin-top: -28px;}
}
@-moz-keyframes travel-arrow-in-1 {
    0%{opacity: 0;	margin-left: -600px;margin-top: -28px;}
    100%{opacity: 1;margin-left: -549px;margin-top: -28px;}
}
.travel-arrow-1{
    width: 288px;
    margin-left: -549px;
    margin-top: -28px;
    -webkit-animation: travel-arrow-in-1 .2s ease-in-out 0.8s 1 forwards;
    -moz-animation: travel-arrow-in-1 .2s ease-in-out 0.8s 1 forwards;
}
@-webkit-keyframes travel-arrow-in-2 {
    0%{opacity: 0;	margin-left: -460px;margin-top: 100px;}
    100%{opacity: 1;margin-left: -410px;margin-top: 60px;}
}
@-moz-keyframes travel-arrow-in-2 {
    0%{opacity: 0;	margin-left: -460px;margin-top: 100px;}
    100%{opacity: 1;margin-left: -410px;margin-top: 60px;}
}
.travel-arrow-2{
    width: 151px;
    margin-left: -410px;
    margin-top: 60px;
    -webkit-animation: travel-arrow-in-2 .2s ease-in-out 0.2s 1 forwards;
    -moz-animation: travel-arrow-in-2 .2s ease-in-out 0.2s 1 forwards;
}
@-webkit-keyframes travel-arrow-in-3 {
    0%{opacity: 0;	margin-left: -190px;margin-top: -40px;}
    100%{opacity: 1;margin-left: -178px;margin-top: -68px;}
}
@-moz-keyframes travel-arrow-in-3 {
    0%{opacity: 0;	margin-left: -190px;margin-top: -40px;}
    100%{opacity: 1;margin-left: -178px;margin-top: -68px;}
}
.travel-arrow-3{
    width: 143px;
    margin-left: -178px;
    margin-top: -68px;
    -webkit-animation: travel-arrow-in-3 .2s ease-in-out 0.5s 1 forwards;
    -moz-animation: travel-arrow-in-3 .2s ease-in-out 0.5s 1 forwards;
}
@-webkit-keyframes travel-arrow-in-4 {
    0%{opacity: 0;	margin-left: -19px;margin-top:90px;}
    100%{opacity: 1;margin-left: 0px;margin-top: 74px;}
}
@-moz-keyframes travel-arrow-in-4 {
    0%{opacity: 0;	margin-left: -19px;margin-top:90px;}
    100%{opacity: 1;margin-left: 0px;margin-top: 74px;}
}
.travel-arrow-4{
    width: 242px;
    margin-left: 0px;
    margin-top: 74px;
    -webkit-animation: travel-arrow-in-4 .2s ease-in-out 0.6s 1 forwards;
    -moz-animation: travel-arrow-in-4 .2s ease-in-out 0.6s 1 forwards;
}
@-webkit-keyframes travel-arrow-in-5 {
    0%{opacity: 0;	margin-left: 249px;margin-top:89px;}
    100%{opacity: 1;margin-left: 235px;margin-top: 74px;}
}
@-moz-keyframes travel-arrow-in-5 {
    0%{opacity: 0;	margin-left: 249px;margin-top:89px;}
    100%{opacity: 1;margin-left: 235px;margin-top: 74px;}
}
.travel-arrow-5{
    width: 131px;
    margin-left: 235px;
    margin-top: 74px;
    -webkit-animation: travel-arrow-in-5 .2s ease-in-out 1s 1 forwards;
    -moz-animation: travel-arrow-in-5 .2s ease-in-out 1s 1 forwards;
}
@-webkit-keyframes travel-arrow-in-6 {
    0%{opacity: 0;	margin-left: 106px;margin-top:-139px;}
    100%{opacity: 1;margin-left: 126px;margin-top: -119px;}
}
@-moz-keyframes travel-arrow-in-6 {
    0%{opacity: 0;	margin-left: 106px;margin-top:-139px;}
    100%{opacity: 1;margin-left: 126px;margin-top: -119px;}
}
.travel-arrow-6{
    width: 160px;
    margin-left: 126px;
    margin-top: -119px;
    -webkit-animation: travel-arrow-in-6 .2s ease-in-out 0.4s 0.95 forwards;
    -moz-animation: travel-arrow-in-6 .2s ease-in-out 0.4s 0.95 forwards;
}
@-webkit-keyframes travel-arrow-in-7 {
    0%{opacity: 0;	margin-left: 375px;margin-top:20px;}
    100%{opacity: 1;margin-left: 352px;margin-top: -7px;}
}
@-moz-keyframes travel-arrow-in-7 {
    0%{opacity: 0;	margin-left: 375px;margin-top:20px;}
    100%{opacity: 1;margin-left: 352px;margin-top: -7px;}
}
.travel-arrow-7{
    width: 123px;
    margin-left: 352px;
    margin-top: -7px;
    -webkit-animation: travel-arrow-in-7 .2s ease-in-out 0.65s 1 forwards;
    -moz-animation: travel-arrow-in-7 .2s ease-in-out 0.65s 1 forwards;
}
@-webkit-keyframes travel-photo-in {
    0%{opacity:1;-webkit-filter:blur(15px);}
    100%{opacity:1;-webkit-filter:blur(0px);}
}
@-webkit-keyframes travel-photo {
    0%{opacity:1;-webkit-filter:blur(0px);}
    50%{opacity:1;-webkit-filter:blur(5px);}
    100%{opacity:1;-webkit-filter:blur(0px);}
}
@-moz-keyframes travel-photo {
    0%{opacity:1;}
    50%{opacity:0.5;}
    100%{opacity:1;}
}
.travel-photo{
    opacity: 1;
    display: block;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
a:hover .travel-photo{
    -webkit-animation: travel-photo 0.5s ease-out 0s 1 forwards;
    -moz-animation: travel-photo 0.5s ease-out 0s 1 forwards;
    transform: scale(3.5);
    z-index: 2;
}
.travel-photo-1{
    margin-left: -614px;
    margin-top:5px;
    -webkit-animation: travel-photo-in 0.4s ease-out 0s 1 forwards;
    transform: rotate(-30deg);
}
.travel-photo-2{
    margin-left: -437px;
    margin-top: 170px;
    transform: rotate(5deg);

    -webkit-animation: travel-photo-in .4s ease-out 0s 1 forwards;
}
.travel-photo-3{
    margin-left: -202px;
    margin-top: 55px;
    transform: rotate(5deg);

    -webkit-animation: travel-photo-in .4s ease-out 0s 1 forwards;
}
.travel-photo-4{
    margin-left: -22px;
    margin-top: 164px;
    transform: rotate(15deg);

    -webkit-animation: travel-photo-in .4s ease-out 0s 1 forwards;
}
.travel-photo-5{
    margin-left: 245px;
    margin-top: 165px;
    transform: rotate(15deg);
    -webkit-animation: travel-photo-in .4s ease-out 0s 1 forwards;
}
.travel-photo-6{
    margin-left: 52px;
    margin-top:-100px;
    transform: rotate(15deg);
    -webkit-animation: travel-photo-in .4s ease-out 0s 1 forwards;
}
.travel-photo-7{
    margin-left: 398px;
    margin-top: 47px;
    transform: rotate(-30deg);

    -webkit-animation: travel-photo-in .4s ease-out 0.95s 1 forwards;
}

@-webkit-keyframes travel-icon-in {
    0%{opacity:0;-webkit-filter:blur(15px);margin-top: -65px;}
    100%{opacity:1;-webkit-filter:blur(0px);margin-top: -5px;}
}
@-webkit-keyframes travel-text-in {
    0%{opacity:0;-webkit-filter:blur(15px);margin-top: -60px;}
    100%{opacity:1;-webkit-filter:blur(0px);margin-top: 0px;}
}
.travel-icon{
    margin-left: -336px;
    width: 64px;
    margin-top: 0px;
    opacity:0;
    top: 100px !important;
    color: white;
    font-size: 70px;
    -webkit-animation: travel-icon-in .7s ease-in-out 0.3s 1 forwards;
    -moz-animation: fade-in 1.7s ease-in-out 0.5s 1 forwards;
}
.travel-text{
    width: 670px;
    margin-left:-200px;
    margin-top: -30px;
    top: 100px !important;
    opacity:0;
    color: white;
    font-size: 50px;
    -webkit-animation: travel-text-in 1.0s ease-in-out 0.5s 1 forwards;
    -moz-animation: fade-in 1.0s ease-in-out 0.5s 1 forwards;
}
/*  Slide 7  - Football */
#gap-6-7{
    background: url(../img/bg-tile-dark.jpg);
    height: 190px;
}
#slide7{
    background: #2d2d2d url(../img/bg-tile-dark.png);
    box-shadow: none;
    position: relative;
}
.football{
    background: #000 url(../img/bg9.jpg) no-repeat;
    width: 900px;
    height: 600px;
    margin-left: -450px;
    margin-top: -300px;
    box-shadow:0px 10px 30px rgba(0,0,0,0.5);
    -webkit-animation: bg-move 12s ease-in-out 0s infinite alternate;
    -moz-animation: bg-move 12s ease-in-out 0s infinite alternate;
}
.inner-football{
    position: relative;
    width: 900px;
    height: 600px;
    display: block;
    overflow: hidden;
    box-shadow:inset 0px -35px 30px rgba(0,0,0,0.7);
}
@-webkit-keyframes bg-move {
    0% { background-position: 0px 0;}
    100% {background-position: -300px 0;}
}
@-moz-keyframes bg-move {
    0% { background-position: 0px 0;}
    100% {background-position: -300px 0;}
}
.football-text{
    bottom: 30px;
    left: 120px;
    opacity: 0;
    -webkit-animation: fade-in 1.2s ease-in-out 0s 1 forwards;
    -moz-animation: fade-in 1.2s ease-in-out 0s 1 forwards;
}
@-webkit-keyframes football-icon-in {
    0% {opacity: 0;-webkit-transform: translate(0px,-200px);}
    12.2% {opacity: 0.7;-webkit-transform: translate(0px,-150px);}
    24.4%{opacity: 1;-webkit-transform: translate(0px,0px);}
    33%{opacity: 1;-webkit-transform: translate(0px,-75px);}
    41.7%{opacity: 1;-webkit-transform: translate(0px,-100px);}
    50.6%{opacity: 1;-webkit-transform: translate(0px,-75px);}
    59%{opacity: 1;-webkit-transform: translate(0px,0px);}
    65%{opacity: 1;-webkit-transform: translate(0px,-37.5px);}
    71.2%{opacity: 1;-webkit-transform: translate(0px,-50px);}
    77.3%{opacity: 1;-webkit-transform: translate(0px,-37.5px);}
    83.4%{opacity: 1;-webkit-transform: translate(0px,0px);}
    87.7%{opacity: 1;-webkit-transform: translate(0px,-18.8px);}
    91.7%{opacity: 1;-webkit-transform: translate(0px,-25px);}
    95.9%{opacity: 1;-webkit-transform: translate(0px,-18.8px);}
    100%{opacity: 1;-webkit-transform: translate(0px,0px);}
}
.football-icon{
    bottom: 20px;
    left: 30px;
    opacity: 0;
    -webkit-animation: football-icon-in 2s linear 0s 1 forwards;
    -moz-animation: fade-in .3s linear 0s 1 forwards;
}
.football-icon:hover{
    -webkit-animation: rotate 2s linear 0s infinite forwards;
}
@-webkit-keyframes kit-in
{
    0% {opacity: 0;-webkit-transform: translate(0px,30px);}
    100%   {opacity: 1;-webkit-transform: translate(0px,0px);}
}
@-webkit-keyframes manutd-in
{
    0% {opacity: 0;-webkit-transform: translate(0px,-70px);}
    100%   {opacity: 1;-webkit-transform: translate(0px,0px);}
}
#kit{
    width: 609px;
    height: 462px;
    right: 0;
    opacity: 0;
    display: block;
    bottom: 0;
    -webkit-animation: kit-in .6s ease-in-out 1.1s 1 forwards;
    -moz-animation: fade-in .6s ease-in-out 0.1s 1 forwards;
    background: url('../img/football-2.png') no-repeat bottom right;
}
#manutd{
    width: 558px;
    height: 420px;
    opacity: 0;
    top: 50px;
    left: 140px;
    display: block;
    bottom: 400px;
    -webkit-animation: manutd-in .6s ease-in-out 1.4s 1 forwards;
    -moz-animation: fade-in .6s ease-in-out 1.1s 1 forwards;
    background: url('../img/football-1.png') no-repeat bottom right;
}
/*jessie*/
#jessie{
    background: #e01a60;
}
.jessie{
    width: 630px;
    height: 600px;
    margin-left: -315px;
    margin-top: -330px;
    background-attachment: fixed;
}
.inner-jessie{
    background: url(../img/jessie-bg.jpg);
    width: 630px;
    height: 600px;
    display: block;
    overflow: hidden;
}
/* Friends*/
#friends{
    background: #eeeeee url(../img/bg-tile.png);
    box-shadow:inset 0px -15px 30px rgba(0,0,0,0.15);
    overflow: hidden;
}
.friends-single{
    display: inline-block;
    padding: 10px 10px 5px;
    -webkit-transition: all .1s ease-in-out 0s;
    border-right: 5px solid transparent;
    border-radius: 55px;
    opacity: 0;
}

.friends-single:hover{
    background: rgba(255,255,255,0.5);
}
.friends-single a{
    display: inline-block;
}
.friends-avatar{
    float: left;
    opacity: 0.5;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
}
.friends-name{
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
}
.friends-single:hover .friends-avatar{
    opacity: 1;
}
.friends-single:hover .friends-name{
    color: #dd4f29;
}

.friends-single h5{
    float: left;
    clear: right;
    margin: 15px 20px;
    color: #636363;
    font-size: 14px;
    font-weight: 400;
}
@-webkit-keyframes friends-in-1 {
    0% {-webkit-transform: translate(400px,300px);opacity:0;}
    100% {-webkit-transform: translate(0px,0px);opacity: 1;}
}
@-webkit-keyframes friends-in-2 {
    0% {-webkit-transform: translate(550px,150px);opacity:0;}
    100% {-webkit-transform: translate(0px,0px);opacity: 1;}
}
@-webkit-keyframes friends-in-3 {
    0% {-webkit-transform: translate(450px,-12px);opacity:0;}
    100% {-webkit-transform: translate(0px,0px);opacity: 1;}
}
@-webkit-keyframes friends-in-4 {
    0% {-webkit-transform: translate(-20px,200px);opacity:0;}
    100% {-webkit-transform: translate(0px,0px);opacity: 1;}
}
@-webkit-keyframes friends-in-5 {
    0% {-webkit-transform: translate(-150px,50px);opacity:0;}
    100% {-webkit-transform: translate(0px,0px);opacity: 1;}
}
@-webkit-keyframes friends-in-6 {
    0% {-webkit-transform: translate(-30px,-100px);opacity:0;}
    100% {-webkit-transform: translate(0px,0px);opacity: 1;}
}
.friends-1{margin-left: -380px;	margin-top: -300px;-webkit-animation: friends-in-1 .3s ease-out .4s 1 forwards;-moz-animation: fade-in .3s ease-out .4s 1 forwards;}
.friends-2{margin-left: -530px;	margin-top: -170px;-webkit-animation: friends-in-2 .3s ease-out .3s 1 forwards;-moz-animation: fade-in .3s ease-out .4s 1 forwards;}
.friends-3{margin-left: -480px;	margin-top: -17px;-webkit-animation: friends-in-3 .3s ease-out .35s 1 forwards;-moz-animation: fade-in .3s ease-out .4s 1 forwards;}
.friends-4{margin-left: 150px;	margin-top: -240px;-webkit-animation: friends-in-4 .3s ease-out .45s 1 forwards;-moz-animation: fade-in .3s ease-out .4s 1 forwards;}
.friends-5{margin-left: 270px;	margin-top: -90px;-webkit-animation: friends-in-5 .3s ease-out .25s 1 forwards;-moz-animation: fade-in .3s ease-out .4s 1 forwards;}
.friends-6{margin-left: 130px;	margin-top: 70px;-webkit-animation: friends-in-6 .3s ease-out .3s 1 forwards;-moz-animation: fade-in .3s ease-out .4s 1 forwards;}
.friends-7{margin-left: -280px;	margin-top: 140px;-webkit-animation: friends-in-6 .3s ease-out .32s 1 forwards;-moz-animation: fade-in .3s ease-out .4s 1 forwards;}



.friends-name{
    font-weight: 700;
    font-size: 24px;
    color: #333;
}
@-webkit-keyframes friends-text-in {
    0% {-webkit-transform: scale(.5);opacity:0;}
    100% {-webkit-transform: scale(1);opacity:0.8;}
}
.friends-text{
    margin-left: -36px;
    margin-top: -280px;
    opacity: 0;
    -webkit-animation: friends-text-in .75s ease-out .3s 1 forwards;
    -moz-animation: fade-in .75s ease-out .3s 1 forwards;
}
/*  Slide 10 - Contacts */
#contacts{
    background: #fff url(../img/bg5.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: none;
}
.blog-posts{
    margin-left: -102px;
    margin-top: 173px;
}
.blog-posts li{
    height: 24px;
    font-size: 17px;
    padding: 6px 0 0;
    list-style: disc;
    position: relative;
}
.blog-post-date{
    float: right;
    font-size: 10px;
    padding: 3px 0;
    color: #000;
    position: absolute;
    right: 0;
}
.blog-post-date b{
    width: 12px;
    display: inline-block;
    text-align: right;
}
.blog-post-title{
    text-shadow: 0 2px 6px rgba(0,0,0,0.4);
    width: 290px;
    overflow: hidden;
    height: 29px;
    vertical-align: middle;
    display: inline-block;
}
.blog-posts a{
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    display: inline-block;
    font-size: 14px;
    width: 362px;
    height: 25px;
    padding: 0;
    border-bottom: 1px dotted rgba(0,0,0,0.3);
}
.blog-posts a:hover {
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    display: inline-block;
    color: #fff;
    border-bottom: 1px dotted rgba(0,0,0,0.8);
}
.contacts-logo{
    margin-left: -252px;
    margin-top: 183px;
    opacity: 1;
    -webkit-transition: opacity .2s ease-in-out 0s;
    -moz-transition: opacity .2s ease-in-out 0s;
}
.contacts-logo:hover{
    -webkit-animation: none;
    -moz-animation: none;
    opacity: 1;
}
.contacts-text{

    opacity: 0;
}
.contacts-text-1{
    margin-top: -266px;
    width: 585px;
    margin-left: -268px;
    -webkit-animation: l-in .6s ease-in-out .1s 1 forwards;
    -moz-animation: fade-in .6s ease-in-out .1s 1 forwards;
    font-size: 45px;
    font-weight: 600;
}
.resume{
    margin-left: -80px;
    margin-top: 24px;
    width: 200px;
    -webkit-animation: r-in .6s ease-in-out .1s 1 forwards;
    -moz-animation: fade-in .6s ease-in-out .1s 1 forwards;
}
.resume1{
    margin-top: 230px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
}
.contacts-links{
    margin-top: -185px;
    display: block;
    width: 74px;
    opacity: 0;
    text-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -webkit-animation: fade-in .5s ease-out 0.4s 1 forwards;
    -moz-animation: fade-in .6s ease-in-out .1s 1 forwards;
}
.contacts-links i:hover{
    transform: translateY(2px);
}
h4{
    text-align: center;
    display: inline-block;
    width: 100px;
    font-weight: 400;
    padding-top: 45px;
    -webkit-transition: color .2s ease-in-out 0s;
    -moz-transition: color .2s ease-in-out 0s;
}
.contacts-links:hover h4{
    color: #fff;
}
.contacts-links i{
    display: inline-block;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    height: 74px;
    margin-top: 2px;
    color: #111111;
}
.contacts-links:hover img{
    -webkit-transform: translate(0,-6px);
    -moz-transform: translate(0,-6px);
}
.contacts-weibo{
    margin-left:-252px;
}
.contacts-flickr{
    margin-left:-104px;
}
.contacts-zhihu{
    margin-left:38px;
}
.contacts-email{
    margin-left:177px;
}